.imgBlock {
    width: 250px;
    height: 450px;
    box-shadow: 0 0 2px black !important;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
.bodyBoxImg {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.box_img {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
.box_img:hover {
  cursor: pointer;
}